@import './base.css';

#app {
  font-weight: normal;
  padding: 0 2rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-action-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-action-text);
    background-color: var(--color-action-background);
  }
}

@media (max-width: 1024px) {
  #app {
    padding: 0 1rem;
  }
}

h1 {
  font-size: 1.25rem;
}